.container__lottery {
    box-sizing: border-box;
    padding: 5px 15px;
    margin-left: 15px;
    min-width: 480px;
    max-width: 999px;
    background-image: linear-gradient(to bottom right, #000000, #614051);
    font-family: 'PT Sans Narrow', sans-serif;
    box-shadow: 10px 5px 5px black;
}

.lottery__parent {
    text-align: center;
    padding: 20px;
}


.lottery__text__standard {
    color: #fcd9d6;
    padding: 5px;

}

.lottery__win__box {
    position:fixed;
    background-color: #8b72be;
    display: none;
    width: 50%;
    height: 500px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.buyticket__container {
    border: 2px solid;
    border-color: #8b72be;
    width: 100%;
    margin: 30px;
    padding: 20px;
    margin-left: 4px;
    display: flex;
    justify-content: space-around;

}
.lottery__win__box__form {
    border: 2px solid #222222;
    padding: 5px;


}
.lottery__h1 {
    color: #614051;
}

.lottery__win__box_text {
    padding: 20px;
}

.AddressHide {
    padding: 50px;
    margin-bottom: 10px;
}

.lottery__win__label {
    padding: 10px;
}


.lottery__win__box__close {
    box-sizing: border-box;
    margin: 50px;
    font-size: 12px;

}