.container__form {
    box-sizing: border-box;
    padding: 5px 15px;
    min-width: 480px;
    max-width: 999px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}




.form__container_basic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__left__parent {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 60%;
    border: 2px solid #ce03fc;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.form__title {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 5%;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background: url(https://assets.website-files.com/60487d3f7590e553f2d51d2a/60f95cac38aae1589cc9e873_banner_1200_bg.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

.form__basic__text {
    padding: 10px;
    font-size: 10px;
    font-weight: 100;
    color:  #ce03fc;
}

.btn__form__addquestion {
    background-color: #ff0789;
    color: black;
    padding: 5px;
    font-size: 30px;
    font-weight: 700;


}


